body{
    margin:0px;
    padding: 0px;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px;
    margin: 0px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    margin: 10px;
    width: 500px;
    height: 35px;
    border: solid 1px;
    border-radius: 5px;
}
.termo{
    width: 500px;

}
button{
    margin: 20px;
    width: 500px;
    height: 25px;
    background-color: rgb(60,71,235,92);
}
button:hover{
    color:white;
}

