body{
    margin:0px;
    padding:0px;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                            
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
}
h1{
    font-family:arial,Arial, Helvetica, sans-serif;
    font-size: 40px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin: 5px;
    height: 35px;
    width: 500px;
    border: solid 1px;
    border-radius: 5px;
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav button{
    margin: 5px;
    height: 25px;
    width: 500px;
    border-radius: 5px;
    
}
.color1{
    background-color: green;
}
.color1:hover{
    color: white;
}
.color2{
    background-color: rgb(60,71,235,92);
}
.color2:hover{
    color: white;
}
.senha{
    position: relative;
    right: 180px;
    margin:10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:white;
    text-decoration: underline;
}

.socials img{
    margin:10px;
}




